.header {
  background-color: darkred;
  width: 100%;
  height: 50px;
  display: inline-block;
}
.image_logo{

  width: 50px;
  display: inline-block;
  position: absolute;
}
.boximage {
  margin-left: 7px;
  position: relative;
}

.items_menu {
  display: inline;
  padding-right: 47px;
}
.menu {
  float: left;
  display: inline;
  position: relative;
  width: 434px;
  top: 15px;
  left: 20px;
  height: 50px;
}
.login {
  float: right;
}


ul, ol {
				list-style:none;
			}
li {
  display: inline;
}

.button {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 36px;
  top: -9px;
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 48%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(48%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 48%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 48%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 48%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 48%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  font: 18px/40px helvetica;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.2) 0 -10px 0 inset;
  -webkit-transition: all .15s;
  transition: all .15s;
  }
.button:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   right: -5px;
   bottom: -5px;
   left: -5px;
   border: 10px solid #fff;
   border-radius: 10px; }

.button:hover {
  box-shadow: rgba(0,0,0,0) 0 0 0 inset;
  line-height: 50px;
  }
