.header {
  background-color: darkred;
  width: 100%;
  height: 50px;
  display: inline-block;
}
.image_logo{
  background-color: yellow;
  width: 50px;
  display: inline-block;
  position: absolute;
}
.boximage {
  background-color: green;
}
.titulomenu {
  color: red;
  padding-right: 16px;
  font-size: 14px;
  font-family: monospace;
}
.items_menu {
  display: inline;
  padding-right: 47px;
}
.menu {
  background-color: blue;
  float: left;
  display: inline;
  position: relative;
  width: 379px;
  top: 15px;
  left: 20px;
}

.menu {
  float: left;
}
.login {
  float: right;
}


ul, ol {
				list-style:none;
			}
li {
  display: inline;
}
