.header {
  background-color: darkred;
  width: 100%;
  height: 50px;
  display: inline-block;
}
.image_logo{

  width: 50px;
  display: inline-block;
  position: absolute;
}
.boximage {
  margin-left: 7px;
  position: relative;
}
.titulomenu {
  color: white;
  padding-right: 16px;
  font-size: 14px;
  font-family: sans-serif;
}
.items_menu {
  display: inline;
  padding-right: 47px;
}
.menu {

  float: left;
  display: inline;
  position: relative;
  width: 379px;
  top: 15px;
  left: 20px;
}

.menu {
  float: left;
}
.login {
  float: right;
}


ul, ol {
				list-style:none;
			}
li {
  display: inline;
}

.button {
  display: block;
  position: relative;
  width: 100px;
  height: 50px;
  background: #5197dc;
  font: 18px/40px helvetica;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.2) 0 -10px 0 inset;
    -webkit-transition: all .15s;
    transition: all .15s;
  }
.button:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   right: -5px;
   bottom: -5px;
   left: -5px;
   border: 10px solid #fff;
   border-radius: 10px; }

.button:hover {
  box-shadow: rgba(0,0,0,0) 0 0 0 inset;
  line-height: 50px;
  }
